<h1>All posts</h1>

<div id="posts">

  <% @posts.each do |post| %>

      <%= div_for post do %>
          <h2><%= post.title %></h2>
          <p>
            <%= post.contents %>
          </p>
          <p>
            <%= link_to 'Edit', edit_post_url(post) %> | <%= link_to 'Destroy', post_url(post), method: :delete %>
          </p>
      <% end %>

  <% end %>

</div>

<p>
  <%= link_to 'Create new post', new_post_url %>
</p>
